guiTool/build
guiTool/*.bin
guiTool/*.bat
guiTool/guiTool
guiTool/guiTool.exe
FlashMeInjector/build
FlashMeInjector/*.bin
FlashMeInjector/*.bat
FlashMeInjector/FlashMeInjector
FlashMeInjector/FlashMeInjector.exe
fwManager/fwManager.nds
fwManager/*.bat
fwManager/arm9/build
fwManager/arm9/fwManager.elf
fwManager/arm7/build
fwManager/arm7/fwManager.elf
